.marginalize {
    margin: 0 10px 10px 0;
}

.mb-20 {
    margin-bottom: 20px;
}

.mt-20 {
    margin-top: 20px;
}

.gallery-img {
    display: block;
    margin-bottom: 10px;
}

.article .title {
    margin-top: 0px;
}

.submenu li a {
    color: #666;
}

.submenu li.active a {
    color: #fff;
}

.submenu .level-1 {
    background: #eee;
    padding-left: 45px;
}

.submenu .level-1.active {
    background-color: #337ab7;
}

.submenu .level-2 {
    background: #ddd;
    padding-left: 75px;
}

.submenu .level-2.active {
    background-color: #337ab7;
}

.submenu .level-3 {
    background: #ccc;
    padding-left: 105px;
}

.submenu .level-3.active {
    background-color: #337ab7;
}

.embed-container{
    position:relative;
    padding-bottom:56.25%;
    height:0;
    overflow:hidden;
    max-width:100%;
    margin-bottom:10px
}

.embed-container iframe, .embed-container object, .embed-container embed {
     position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
}